<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content three_quarter first money overflow">

      <h1 class="header-spec">Dokumenty</h1>
      <button class="btn btn-def fl_right btn-shadow-no" mat-raised-button (click)="openDialog()">Statystyki</button>

      <app-charges-list></app-charges-list>

      <h2>Załaduj dane</h2>
      <form id="formModel" class="checking btmspace-50" ENCTYPE='multipart/form-data'  [formGroup]="formModel" (ngSubmit)="onSubmit($event)"
        novalidate>
        <div class="custom-file btmspace-30">
            <input id="file" type="file" class="custom-file-input" id="file" formControlName="file" (change)="fileEvent($event)"
            (focusout)="fileEvent($event)">
          <label class="custom-file-label" for="validatedCustomFile">Wybierz plik...</label>
          <div class="invalid-feedback">
          </div>
        </div>
        <input type="submit" class="btn btn-def fl_right" value="Prześlij">
      </form>

      <app-transaction-list></app-transaction-list>

    </div>

    <app-menu></app-menu>

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
