<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content three_quarter first money overflow">

      <h1 class="header-spec">Dokumenty</h1>
      <button class="btn btn-def fl_right btn-shadow-no" mat-raised-button (click)="openDialog()">Statystyki</button>


      <mat-form-field >
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
        </mat-form-field>

        <button id="table-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>list</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>archive</mat-icon>
              <span>Przenieś zaznaczone do archiwum</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notes</mat-icon>
              <span>Dodaj notatkę do zaznaczonych</span>
            </button>
          </mat-menu>

      <div class="mat-elevation-z8 btmspace-50">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Deklarowane </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="entryFee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpisowe </th>
            <td mat-cell *matCellDef="let element"> {{element.entryFee}} </td>
          </ng-container>

          <ng-container matColumnDef="payment1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpłata I </th>
            <td mat-cell *matCellDef="let element"> {{element.payment1}} </td>
          </ng-container>

          <ng-container matColumnDef="payment2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpłata II </th>
            <td mat-cell *matCellDef="let element"> {{element.payment2}} </td>
          </ng-container>

          <ng-container matColumnDef="payment3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpłata III </th>
            <td mat-cell *matCellDef="let element"> {{element.payment3}} </td>
          </ng-container>

          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Suma </th>
            <td mat-cell *matCellDef="let element"> {{element.sum}} </td>
          </ng-container>

          <ng-container matColumnDef="stat">
              <th mat-header-cell *matHeaderCellDef> Statystyki </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                      <mat-icon aria-label="Example icon-button with a heart icon" mat-raised-button (click)="openDialog(element)">info</mat-icon>
                  </button>
              </td>
          </ng-container>

          <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Notatki </th>
              <td mat-cell *matCellDef="let element">
                  <mat-form-field class="example-chip-list">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let note of notes" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(note)">
                          {{note.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Nowa notatka..."
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                    </mat-form-field>
              </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

      <h2>Załaduj dane</h2>
      <form id="formModel" class="checking btmspace-50" ENCTYPE='multipart/form-data'  [formGroup]="formModel" (ngSubmit)="onSubmit($event)"
        novalidate>
        <div class="custom-file btmspace-30">
            <input id="file" type="file" class="custom-file-input" id="file" formControlName="file" (change)="fileEvent($event)"
            (focusout)="fileEvent($event)">
          <label class="custom-file-label" for="validatedCustomFile">Wybierz plik...</label>
          <div class="invalid-feedback">
          </div>
        </div>
        <input type="submit" class="btn btn-def fl_right" value="Prześlij">
      </form>

      <h2>Lista płatności</h2>

      <mat-form-field >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
      </mat-form-field>

      <button id="table-button" mat-icon-button [matMenuTriggerFor]="menuList">
          <mat-icon>list</mat-icon>
        </button>
        <mat-menu #menuList="matMenu">
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Usuń zaznaczone</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Zmień zaznaczone</span>
          </button>
        </mat-menu>

    <div class="mat-elevation-z8 btmspace-50">
      <table mat-table [dataSource]="dataSourceList" matSort>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectionList.hasValue() && isAllSelected()"
              [indeterminate]="selectionList.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionList.toggle(row) : null"
              [checked]="selectionList.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id_sys">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let list"> {{list.id_sys}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię i nazwisko </th>
          <td mat-cell *matCellDef="let list"> {{list.name}} </td>
        </ng-container>

        <ng-container matColumnDef="product_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa produktu </th>
          <td mat-cell *matCellDef="let list"> {{list.product_name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
          <td mat-cell *matCellDef="let list"> {{list.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantiti">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość </th>
          <td mat-cell *matCellDef="let list"> {{list.quantiti}} </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Suma </th>
          <td mat-cell *matCellDef="let list"> {{list.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsList"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsList;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    </div>

    <app-menu></app-menu>

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
