<h2>Załaduj dane</h2>
      <form id="formModel" class="checking btmspace-50" ENCTYPE='multipart/form-data'  [formGroup]="formModel" (ngSubmit)="onSubmit($event)"
        novalidate>
        <div class="custom-file btmspace-30">
            <input id="file" type="file" class="custom-file-input" id="file" formControlName="file" (change)="fileEvent($event)"
            (focusout)="fileEvent($event)">
          <label class="custom-file-label" for="validatedCustomFile">Wybierz plik...</label>
          <div class="invalid-feedback">
          </div>
        </div>
        <input type="submit" class="btn btn-def fl_right" value="Prześlij">
      </form>
