<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content three_quarter first money overflow">

      <h1 class="header-spec">Płatności</h1>
      <button class="btn btn-def fl_right btn-shadow-no" mat-raised-button (click)="openDialog()">Statystyki</button>

      <app-charges-list></app-charges-list>

      <app-transaction-list></app-transaction-list>

    </div>

    <app-menu></app-menu>

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
