<h2>Semestry</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
</mat-form-field>

<button id="table-button" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>list</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>delete_forever</mat-icon>
    <span>Usuń zaznaczone semestry</span>
  </button>
</mat-menu>

<div class="mat-elevation-z8 btmspace-50">
  <table class="semester" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!element.click[0],  else edit0" (click)="element.click[0] = !element.click[0]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" [matTooltipPosition]="position.value"
             aria-label="Button to change date or name" class="nobutton">
            {{element.name}}
          </button>
        </div>
        <ng-template #edit0>
          <mat-form-field class="example-full-width">
             <input #tooltip="matTooltip" matTooltip="Kliknij enter by zapisać" [matTooltipPosition]="position2.value" matInput placeholder="Nazwa semestru" [value]="element.name">
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Początek semestru </th>
      <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.click[1],  else edit1" (click)="element.click[1] = !element.click[1]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" [matTooltipPosition]="position.value"
             aria-label="Button to change date or name" class="nobutton">
            {{element.start}}
          </button>
        </div>
        <ng-template #edit1>
          <mat-form-field class="example-full-width">
            <input matInput matTooltip="Kliknij enter by zapisać" [matTooltipPosition]="position2.value" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date" placeholder="Wybierz datę">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="date_1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpłata I </th>
      <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.click[2],  else edit2" (click)="element.click[2] = !element.click[2]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" [matTooltipPosition]="position.value"
             aria-label="Button to change date or name" class="nobutton">
            {{element.date_1}}
          </button>
        </div>
        <ng-template #edit2>
          <mat-form-field class="example-full-width">
            <input matInput matTooltip="Kliknij enter by zapisać" [matTooltipPosition]="position2.value" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date" placeholder="Wybierz datę">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="date_2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpłata II </th>
      <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.click[3],  else edit3" (click)="element.click[3] = !element.click[3]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" [matTooltipPosition]="position.value"
             aria-label="Button to change date or name" class="nobutton">
            {{element.date_2}}
          </button>
        </div>
        <ng-template #edit3>
          <mat-form-field class="example-full-width">
            <input matInput matTooltip="Kliknij enter by zapisać" [matTooltipPosition]="position2.value" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date" placeholder="Wybierz datę">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="date_3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wpłata III </th>
      <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.click[4],  else edit4" (click)="element.click[4] = !element.click[4]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" [matTooltipPosition]="position.value"
             aria-label="Button to change date or name" class="nobutton">
            {{element.date_3}}
          </button>
        </div>
        <ng-template #edit4>
          <mat-form-field class="example-full-width">
            <input matInput matTooltip="Kliknij enter by zapisać" [matTooltipPosition]="position2.value" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date" placeholder="Wybierz datę">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Koniec semestru </th>
      <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.click[5],  else edit5" (click)="element.click[5] = !element.click[5]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" [matTooltipPosition]="position.value"
             aria-label="Button to change date or name" class="nobutton">
            {{element.end}}
          </button>
        </div>
        <ng-template #edit5>
          <mat-form-field class="example-full-width">
            <input matInput matTooltip="Kliknij enter by zapisać" [matTooltipPosition]="position2.value" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date" placeholder="Wybierz datę">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
