<div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <div class="content">
        <div class="logbox">
          <form>
            <div class="form-group">
              <label for="login">Podaj login</label>
              <input type="text" class="form-control" id="login" aria-describedby="loginlHelp" >
            </div>
            <div class="form-group">
              <label for="email">Podaj adres e-mail</label>
              <input type="email" class="form-control" id="email" >
            </div>
            <input class="btn btn-def" type="submit" name="submit" value="Generuj hasło">
          </form>

        </div>
      </div>
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
