<mat-dialog-content>
  <h1 class="text-center">Ustaw nową stawkę</h1>
  <form id="user-filter" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nazwa stawki" [(ngModel)]="name.value" name="name" #name="ngModel" required>
      <mat-error *ngIf="name.hasError('required')">
        Podanie nazwy jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Typ wprowadzanej składki" [(ngModel)]="type.value" #type="ngModel" name="type" required>
        <mat-option  [value]="0">
          Osoby z PWr
        </mat-option>
        <mat-option  [value]="1">
          Osoby z poza PWr
        </mat-option>
        <mat-option [value]="2">
          Wprowadź obie
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Rata I {{setName(0)}}" [(ngModel)]="installment_1.value" type='number' name="installment_1"
        #installment_1="ngModel" required>
      <mat-error *ngIf="installment_1.hasError('required')">
        Podanie raty jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Rata II {{setName(0)}}" [(ngModel)]="installment_2.value" type='number' name="installment_2"
        #installment_2="ngModel" required>
      <mat-error *ngIf="installment_2.hasError('required')">
        Podanie raty jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Rata III {{setName(0)}}" [(ngModel)]="installment_3.value" type='number' name="installment_3"
        #installment_3="ngModel" required>
      <mat-error *ngIf="installment_3.hasError('required')">
        Podanie raty jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Suma {{setName(0)}}" type='number' name="suma1" disabled [value]='installment_1.value + installment_2.value + installment_3.value'>
      </mat-form-field>
    <mat-form-field *ngIf="type.value === 2">
      <input matInput placeholder="Rata I {{setName(1)}}" [(ngModel)]="installment_1a.value" type='number' name="installment_1a"
        #installment_1a="ngModel" required>
      <mat-error *ngIf="installment_1a.hasError('required')">
        Podanie raty jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="type.value === 2">
      <input matInput placeholder="Rata II {{setName(1)}}" [(ngModel)]="installment_2a.value" type='number' name="installment_2a"
        #installment_2a="ngModel" required>
      <mat-error *ngIf="installment_2a.hasError('required')">
        Podanie raty jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="type.value === 2">
      <input matInput placeholder="Rata III {{setName(1)}}" [(ngModel)]="installment_3a.value" type='number' name="installment_3a"
        #installment_3a="ngModel" required>
      <mat-error *ngIf="installment_3a.hasError('required')">
        Podanie raty jest <strong>konieczne!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="type.value === 2">
        <input matInput placeholder="Suma {{setName(1)}}" type='number' name="suma2" disabled [value]='this.installment_1a ? this.installment_1a.value + this.installment_2a.value + this.installment_3a.value : 0'>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="text-center topspace-15 one">
    <button class="btn btn-danger mr-2" data-choice="true" type="button" (click)="close()">Anuluj</button>
    <button class="btn btn-success ml-2" data-choice="true" type="button" (click)="sendMessage()">Wyślij</button>
  </div>
</mat-dialog-actions>
