<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content three_quarter first">
      <div class="jumbotron" >
        <h1 class="display-4">Witaj, {{user?.name}}!</h1>
        <p class="lead">Poniżej prezentujemy krótkie podsumowanie Twoich danych jak i aktywności na Naszych zajęciach.</p>
        <table class="info table start-table">
          <tbody>  <tr>
              <th>Imię</th>
              <td>{{user?.name}}</td>

            </tr>
            <tr>
              <th>Nazwisko</th>
              <td>{{user?.surname}}</td>
            </tr>
            <tr>
              <th>Adres e-mail</th>
              <td>{{user?.email}}</td>
            </tr>
            <tr>
              <th>Numer telefonu</th>
              <td>{{user?.phone}}</td>
            </tr>
            <tr>
              <th>Nazwa uczelni</th>
              <td>{{user?.university}}</td>
            </tr>
            <tr>
              <th>Wydział</th>
              <td>{{user?.department}}</td>
            </tr>
            <tr>
              <th>Rok studiów</th>
              <td>{{user?.year}}</td>
            </tr>
            <tr>
              <th>Numer indeksu</th>
              <td>{{user?.index}}</td>
            </tr>
            <tr>
              <th>Klucz 1</th>
              <td>{{user?.key1}}</td>
            </tr>
            <tr>
              <th>Klucz 2</th>
              <td>{{user?.key2}}</td>
              </tr>
          </tbody>
        </table>
        <hr class="my-4">
        <canvas id="myCharty"></canvas>
        <hr class="my-4">
        <p>W razie pytań lub znalezienia błędów, skontaktuj się z nami pisząc do Nas na adres <a href="mailto:sktt@pwr.edu.pl">sktt@pwr.edu.pl</a></p>
      </div>
    </div>

    <app-menu></app-menu>


    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
