<h2>Lista płatności</h2>

<mat-form-field>
    <mat-select placeholder="Wybierz semestr" value='-1' (selectionChange)="setDataTable($event.value)">
      <mat-option  value="-1">
        Całość
      </mat-option>
      <mat-option *ngFor="let semester of semesters" [value]="semester.value">
        {{semester.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div class="list-search">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
    </mat-form-field>
</div>

<div class="mat-elevation-z8 btmspace-50">
  <table mat-table [dataSource]="transactionsList" matSort>

    <ng-container matColumnDef="id_transaction">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.id_transaction}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię i nazwisko </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.email}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa produktu </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.product}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data transakcji </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.date}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Suma </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.sum}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
