<mat-dialog-content>
    <h1 class="text-center">Ustaw nową grupę</h1>
    <form id="user-filter" class="example-form">
      <mat-form-field  class="example-full-width">
        <input matInput placeholder="Nazwa grupy"  [(ngModel)]="name.value" name="name" #name="ngModel" required>
        <mat-error *ngIf="name.hasError('required')">
          Podanie nazwy jest <strong>konieczne!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Dzień tygodnia"  [(ngModel)]="day.value" #day="ngModel" name="day" required>
            <mat-option *ngFor="let day of days; index as i" [value]="i">
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="time" placeholder="Wybierz godzinę" [(ngModel)]="start.value" #start="ngModel" name="start" required>
        <mat-error  *ngIf="start.hasError('required')">
          Podanie godziny jest <strong>konieczne!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="time"  placeholder="Wybierz godzinę" [(ngModel)]="end.value" #end="ngModel" name="end" required>
        <mat-error  *ngIf="end.hasError('required')">
          Podanie godziny jest <strong>konieczne!</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="text-center topspace-15 one">
      <button class="btn btn-danger mr-2" data-choice="true" type="button" (click)="close()">Anuluj</button>
      <button class="btn btn-success ml-2" data-choice="true" type="button" (click)="sendMessage()">Wyślij</button>
    </div>
  </mat-dialog-actions>
