<mat-dialog-content>
  <h1 class="text-center">Znajdz grupę</h1>
  <mat-form-field>
    <mat-select placeholder="Wybierz semestr">
      <mat-option *ngFor="let semester of semesters" [value]="semester.value" (click)="getGroups(semester.value)">
      {{semester.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Wybierz grupę">
      <mat-option *ngFor="let group of groups" [value]="group.value" (click)="selectData(group.value)" >
      {{group.viewValue}}
    </mat-option>
    </mat-select>
  </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="text-center topspace-15 one">
        <button class="btn btn-danger mr-2" data-choice="true" type="button" (click)="close()">Anuluj</button>
        <button class="btn btn-success ml-2" data-choice="true" type="button" (click)="sendToGroup()">Wyślij</button>
    </div>
  </mat-dialog-actions>

