<mat-dialog-content>
  <h1 class="text-center">Czy chcesz otrzymać nowe hasło?</h1>
  <p class="text-center">Na przypisany do danego konta adres email zostanie przesłane nowe hasło dostępu.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="text-center topspace-15 one">
    <button class="btn btn-danger mr-3" data-choice="true" type="button" (click)="close()">Anuluj</button>
    <button class="btn btn-success" data-choice="true" type="button" (click)="confirmation()">Generuj</button>
  </div>
</mat-dialog-actions>
