<div class="wrapper row3">
  <main class="hoc container clear">
      <!-- main body -->

      <div class="content three_quarter first overflow">

          <p class="account-delete">Czy napewno chcesz usunąć swoje konto ?</p>
          <div class="center">
          <button type='button' data-choice='true' class="btn btn-danger mr-2">Tak</button>
          <button type='button' data-choice='true' class="btn btn-success ml-2">Nie</button></div>

      </div>

       <app-menu></app-menu>

      <!-- / main body -->
      <div class="clear"></div>
  </main>
</div>
