<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content three_quarter first money overflow">

      <h1 class="header-spec">Ustawienia</h1>

      <app-semester-list (reloadSemesterEvent)="group.onReloadSemesterEvent($event)"></app-semester-list>

      <app-group-list #group></app-group-list>

      <app-installment></app-installment>

      <app-load-list></app-load-list>

    </div>

    <app-menu></app-menu>

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
