<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content three_quarter first money overflow">

      <h1>Opłaty</h1>
      <form class="btmspace-50" method="POST">
        <p id="payment-rate">Zadeklarowana ilość bloków w semestrze * - </p>
        <div *ngIf="edit; then quantityBlock; else stateBlock"></div>
        <ng-template #stateBlock>
          <i>{{numberOfBlocks}}</i>
        </ng-template>
        <ng-template #quantityBlock>
          <select class="d-inline" name="rate">
            <option value="1">1 blok</option>
            <option value="2">2 bloki</option>
            <option value="3">3 bloki</option>
            <option value="4">4 bloki</option>
            <option value="5">5 bloków</option>
            <option value="6">6 bloków</option>
            <option value="99">BO</option>

          </select>
        </ng-template>
        <a id="payment-rate-btn" class="btn btn-def" (click)= change()>{{button}}</a>

        <p id="back-payment-rate">* - Na postawie tabeli na stronie
          <a href="http://www.sktt.pwr.edu.pl/sktt/pages/skladki-czlonkowskie">składki członkowskie.</a>
        </p>
      </form>

      <h1>Status wpłat</h1>

      <table class="info table">
        <tbody>
          <tr>
            <th>Wpisowe <br>  <p class="small-font">(jeśli w obecnym semestrze)</p></th>
            <th>I rata <br> {{data.semester.date_1}}</th>
            <th>II rata <br> {{data.semester.date_2}}</th>
            <th>III rata <br> {{data.semester.date_3}}</th>

          </tr>
          <tr>
            <td>
              <b>{{data.data.entryFee}}</b>
            </td>
            <td>
              <b>{{data.data.charges1}}</b>
            </td>
            <td>
              <b>{{data.data.charges2}}</b>
            </td>
            <td>
             <b>{{data.data.charges3}}</b>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <app-menu></app-menu>

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
