<h2>Aktualne składki członkowskie</h2>

<mat-form-field>
  <mat-select placeholder="Wybierz typ użytkowników" value="0" (selectionChange)="setInstallments($event)">
    <mat-option *ngFor="let userType of groupOfPeople" [value]="userType.value">
      {{userType.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
</mat-form-field>

<button id="table-button" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>list</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addInstallment()">
    <mat-icon>add</mat-icon>
    <span>Dodaj nową stawkę</span>
  </button>
  <button mat-menu-item (click)="removeInstallment()">
    <mat-icon>delete_forever</mat-icon>
    <span>Usuń zaznaczone stawki</span>
  </button>
</mat-menu>

<div class="mat-elevation-z8 btmspace-50">
  <table class="semester" mat-table [dataSource]="installments" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
      <td mat-cell *matCellDef="let installment">
        <div *ngIf="!installment.isActiveInput[0],  else edit0"
          (click)="installment.isActiveInput[0] = !installment.isActiveInput[0]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" matTooltipPosition="right"
            aria-label="Button to change name" class="nobutton">
            {{installment.name}}
          </button>
        </div>
        <ng-template #edit0>
          <mat-form-field class="example-full-width">
            <input #tooltip="matTooltip" matTooltip="Kliknij enter by zapisać" matTooltipPosition="below" matInput
              placeholder="Nazwa opłaty" [(ngModel)]="installment.name" #name="ngModel"
              (keyup.enter)="save(name, 'name', installment, 0)" (blur)="save(name, 'name', installment, 0)" required>
            <mat-error *ngIf="name.hasError('required')">
              Podanie nazwy jest <strong>konieczne!</strong>
            </mat-error>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="installment_1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rata 1 </th>
      <td mat-cell *matCellDef="let installment">
        <div *ngIf="!installment.isActiveInput[1],  else edit1"
          (click)="installment.isActiveInput[1] = !installment.isActiveInput[1]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" matTooltipPosition="right"
            aria-label="Button to change day" class="nobutton">
            {{installment.installment_1}}
          </button>
        </div>
        <ng-template #edit1>
          <mat-form-field>
            <input #tooltip="matTooltip" matTooltip="Kliknij enter by zapisać" matTooltipPosition="below" matInput
              placeholder="Rata I" [(ngModel)]="installment.installment_1" type='number' #installment_1="ngModel"
              (keyup.enter)="save(installment_1, 'installment_1', installment, 1)"
              (blur)="save(installment_1, 'installment_1', installment, 1)" required>
            <mat-error *ngIf="installment_1.hasError('required')">
              Podanie raty jest <strong>konieczne!</strong>
            </mat-error>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="installment_2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rata 2 </th>
      <td mat-cell *matCellDef="let installment">
        <div *ngIf="!installment.isActiveInput[2],  else edit2"
          (click)="installment.isActiveInput[2] = !installment.isActiveInput[2]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" matTooltipPosition="right"
            aria-label="Button to change day" class="nobutton">
            {{installment.installment_2}}
          </button>
        </div>
        <ng-template #edit2>
          <mat-form-field>
            <input #tooltip="matTooltip" matTooltip="Kliknij enter by zapisać" matTooltipPosition="below" matInput
              placeholder="Rata II" [(ngModel)]="installment.installment_2" type='number' #installment_2="ngModel"
              (keyup.enter)="save(installment_2, 'installment_2', installment, 2)"
              (blur)="save(installment_2, 'installment_2', installment, 2)" required>
            <mat-error *ngIf="installment_2.hasError('required')">
              Podanie raty jest <strong>konieczne!</strong>
            </mat-error>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="installment_3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rata 3 </th>
      <td mat-cell *matCellDef="let installment">
        <div *ngIf="!installment.isActiveInput[3],  else edit1"
          (click)="installment.isActiveInput[3] = !installment.isActiveInput[3]">
          <button mat-raised-button #tooltip="matTooltip" matTooltip="Kliknij aby edytować" matTooltipPosition="right"
            aria-label="Button to change day" class="nobutton">
            {{installment.installment_3}}
          </button>
        </div>
        <ng-template #edit1>
          <mat-form-field>
            <input #tooltip="matTooltip" matTooltip="Kliknij enter by zapisać" matTooltipPosition="below" matInput
              placeholder="Rata III" [(ngModel)]="installment.installment_3" type='number' #installment_3="ngModel"
              (keyup.enter)="save(installment_3, 'installment_3', installment, 3)"
              (blur)="save(installment_3, 'installment_3', installment, 3)" required>
            <mat-error *ngIf="installment_3.hasError('required')">
              Podanie raty jest <strong>konieczne!</strong>
            </mat-error>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Suma </th>
      <td mat-cell *matCellDef="let installment">
        {{installment.installment_1 + installment.installment_2 + installment.installment_3}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
