<mat-form-field>
  <mat-select placeholder="Wybierz semestr" value="0" (selectionChange)="setSemester($event)" >
    <mat-option *ngFor="let semester of semesters" [value]="semester.value">
      {{semester.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-dialog-content>
  <div class="row justify-content-center"><canvas class="col-lg-6 col-md-12" id="semester">
    </canvas></div>
  <div class="row"><canvas class="col-lg-6 col-md-12" id="month"></canvas><canvas class="col-lg-6 col-md-12" id="all"></canvas></div>
</mat-dialog-content>
